/******************************************************************************
META
******************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

@font-face {
    font-family: ugiftig;
    src: url(ugiftigDEMO.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;    
}

a {
    color: black;  
}

/******************************************************************************
HEADER
******************************************************************************/
header {
    height: 100vh;
    text-align: center;
    background: url(kalen-emsley-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'ugiftig';
    font-size: 24px;
    background-attachment: fixed;
}

#bienvenue>h2 {
    padding-top: 40px;
    font-size: 44px;
    letter-spacing: 7px;
}

#raccourcis {
    margin: auto;
    width: 75vw;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    padding-top: 60px;
}

#logo {
    border-radius: 4px;
    margin-top: 40px;
}

#scrollDown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scrollDown>img {
    vertical-align: middle;
    border: 3px solid black;
    border-radius: 50%;
    padding: 4px;
}

/******************************************************************************
GALERIE
******************************************************************************/
#galerie {
    background-color: rgb(187, 222, 236);
}

#galerie>h2 {
    padding-top: 6vh;
    text-align: center;
}

.container {
    position: relative;
    margin: auto;
    width: 640px;
    padding-bottom: 40px;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(20, 20, 22, 0.8);
}

.numbertext {
    font-size: 12px;
    position: absolute;
    top: 0;   
    padding: 10px; 
}

.caption-container {
    width: 640px;
    text-align: center;
    background-color: #da5280b3;
    padding: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.thumbnail {
    width: calc(640px/6);
    opacity: 0.6;
}

.active, .thumbnail:hover {
  opacity: 1;
}

/******************************************************************************
TARIFS + FORMULAIRE
******************************************************************************/
#tarifs {
    background-color: rgb(135, 205, 232);
    text-align: center;
}
#tarifs>h2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

#tarifs>article {
    padding-bottom: 40px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid black;
    width: 200px;
    height: 60px;
    text-align: center;          
}

th:hover, td:hover {
    background-color: rgb(187, 222, 236);
}

#th1 {
    border: none;
}

#th1:hover {
    background-color: transparent;
}

form {
    width: 600px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 40px;
}

input {
    width: 570px;
    height: 50px;
    background: transparent;
    padding: 0px 15px 0px 15px;
    border: 1px solid black;
    border-bottom: none;
    font-family: inherit;
    font-size: 0.9em;
}

input:hover , textarea:hover {
    color: black;
    background: rgb(187, 222, 236);
}

input:focus, textarea:focus{
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: black;
    font-size: 0.8em;
}

textarea {
    width: 570px;
    background: transparent;
    padding: 15px;
    border: 1px solid black;
    font-family: inherit;
    font-size: 0.9em;
}

button {
    width: 570px;
    height: 50px;
    background: transparent;
    border: solid 1px black;
    font-family: inherit;
}

button:hover {
    color: black;
    font-weight: bolder;
    background: rgb(187, 222, 236);
}

/******************************************************************************
LIENS
******************************************************************************/
#liens {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 16px;
    background: rgb(53, 70, 88);
    color: whitesmoke;
}

#map {
    padding-right: 16px;
}

iframe {
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

#contacts {
    padding-left: 16px;
}

/******************************************************************************
FOOTER
******************************************************************************/
footer {
    background: rgb(53, 70, 88);
    color: whitesmoke;
    text-align: right;
    padding-right: 18px;
    padding-bottom: 8px;
}

/* ----------------------------------------------------------------------------------------------------------
#RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE
----------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1060px) {
    /* responsive START */
    body {
        font-size: 14px;
    }

    header {
        background-position: center;
    }

    .meteo-icon>img {
            height: 60px;
    }

    #meteo {
        font-size: 18px;
    }

    #bienvenue {
        font-size: 20px;
    }    

    #bienvenue>h2 {
        font-size: 30px;
        letter-spacing: 4px;
    }

    #raccourcis {
        width: 96vw;
        font-size: 15px;
    }

    .icon {
        height: 18px;
    }

    #logo {
        height: 220px;
    }

    .container {
        width: 320px;
    }

    .imgSlide {
        width: 320px;
    }

    .caption-container {
        width: 320px;
    }

    .thumbnail {
        width: calc(320px/6);
    }

    th, td {
        width: 80px;
        height: 40px;
    }

    form {
        width: 300px;
    }

    input {
        width: 270px;
        height: 30px;
        font-size: 12px;
    }

    textarea {
        width: 270px;
        max-width: 270px;
        font-size: 12px;
    }

    button {
        width: 270px;
        height: 30px;
        font-size: 12px;    
    }

    #liens {
        display: block;
        margin: auto;
        font-size: 12px;
    }

    #map {
        padding-right: 0;
        text-align: center;
    }

    iframe {
        width: 300px;
        height: 150px;
    }

    #contacts {
        width: 50vw;
        padding-top: 24px;
        margin: auto;
    }

    footer {
        font-size: 10px;
        padding-top: 24px;
    }
    /* responsive END */
}
